/*
===========
Font import
===========
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=========
Variables
=========
*/

:root{
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /*50% opac shade of primary color*/
  --clr-primary-opac: rgba(73, 166, 233, 0.5);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-of-white: #eee;
  --clr-of-black: #121212;
  --clr-dirty-white: #f3f5f4ff;

  --spacing: 0.1rem;
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Roboto", sans-serif;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fix-width: 1170px;
  --transition: all 0.3s linear;
}

/*
=============
Global styles
=============
*/

html {
  scroll-behavior: smooth;
}


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: var(--clr-grey-1);
    background: var(--clr-grey-10);
    font-family: var(--ff-secondary);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-secondary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 920px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,h2,h3,h4 {
    line-height: 1;
  }
}

/* 
=================
global containers
=================
*/

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

body {
  background: url(./images/services/tiny_house_light.png) center/cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 

body.dark-theme {
  background: url(./images/services/tiny_house_dark.png) center/cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    background: url(./images/services/tiny_house_dark.png) center/cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } 

  body.light-theme {
    background: url(./images/services/tiny_house_light.png) center/cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

/*
============
header
============
*/

/* nav bar */

nav {
 background: var(--clr-white);
 padding: 1rem 1.5rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.logo {
  height:50px;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links{
  height: 200px;
}

.nav-links a{
  background: var(--clr-white);
  color: var(--clr-primary-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  font-weight: bold;
}

.nav-links a:hover {
  color: var(--clr-gey-1);
  padding-left: 1.5rem;
}

/* fixed nav-bar */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  z-index: 1;
}

.fixed-nav .nav-links a {
  color: var(--clr-grey-1);
}

.fixed-nav .nav-links a:hover {
  color: var(--clr-primary-1);
}

@media screen and (min-width: 920px){
  nav {
    background: transparent;
  }

  .nav-center {
    width: 90vw;
    max-width: var(--fix-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    padding:0;
  }

  .nav-toggle{
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .nav-links {
    display: flex;
  }

  .nav-links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 0.5rem;
    font-weight: bold;
  }

  .nav-links a:hover{
    color: var(--clr-white);
  }

  .logo {
    height: 80px;
  }
}

/*header*/

header {
  min-width: 100vw;
}

.banner {
  position: relative;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.header-container{
  position: absolute;
  left: 50%;
  top: 20%;
  width: 450px;
  color: var(--clr-white);
  transform: translateX(-50%);
  text-align: center;
}

.header-container h2{
  text-transform: none;
}

@media screen and (min-width: 800px){
  .header-container {
    width: 75%;
  }
}

.sections {
  width: 100%;
  background: linear-gradient(rgba(243, 245, 245, 0.8), rgba(243, 245, 245, 0.8));
  border-radius: var(--radius);
  margin-bottom: 5vh;
}

@media screen and (min-width: 800px){
  .sections{
    width: 800px;
  }
}

@media screen and (min-width: 1067px){
  .sections{
    width: 75vw;
  }
}

.sub-section {
  padding: 1rem 0;
  min-height: 80vh;
  text-align: center;
}

.title{
  margin: 0 auto;
  width: 60vw;
}

.section-content {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

@media screen and (min-width: 800px) {
  .section-content {
    margin: 0 auto;
    width: 800px;
    padding:2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.service{
  position: relative;
  background: var(--clr-dirty-white);
  width: 350px;
  height: 350px;
  border-radius: var(--radius);
  display: grid;
}

.service-img {
  height: 250px;
  width: 350px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.service-img img {
  height: 250px;
  width: 350px;
}

.service-name {
  height: 100px;
  display: grid;
  place-items: center;
  background-color: var(--clr-primary-8);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.animation{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: var(--clr-grey-3);
  color: var(--clr-white);
  transition: all 0.6s linear;;
  display: grid;
  place-items: center;
}

.animation:hover {
  transform: rotate(180deg);
  border: 2px solid var(--clr-red-light);
  box-shadow: 0 0 20px var(--clr-red-dark);
}

#html-scroll-img {
  height: auto;
  width: auto;
}

#discount-btn {
  background: transparent;
  color: var(--clr-black);
  border: 2px solid var(--clr-primary-6);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  font-weight: 700;
  padding: 0.75rem 1.25rem;
  transition: var(--transition);
}

#discount-btn:hover{
  background: var(--clr-primary-6);
  color: var(--clr-white);
  cursor: pointer;
}

.discount {
  position: absolute;
  top: 0;
  display: none;
}

.show-discount {
  display: block;
}

.review-section {
  display: grid;
  place-items: center;
  
}

.review-container { 
  position: relative;
  width: 400px;
  height: 30rem;
  background: var(--clr-dirty-white);
  margin: 5vh;
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
  text-align: center;
  transition: var(--transition);
}

.review-container:hover {
  box-shadow: var(--dark-shadow);
}

@media screen and (min-width: 666px){
  .review-container {
    width: 60vw;
  }
}

.reviews{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.review {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}

.logo-container {
  background: transparent;
  position: relative;
  margin: 1rem auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.logo-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: relative;
}

.logo-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

.review-btns{
  position: absolute;
  bottom: 2rem;
  left:50%;
  transform: translateX(-50%);
}

#rev-backward,
#rev-forward {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
#rev-backward:hover,
#rev-forward:hover {
  color: var(--clr-primary-5);
}

.about-text {
  background: var(--clr-dirty-white);
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
  width: 363px;
}

.about-img {
  width: 363px;
}

.about-img img {
  width:100%;
  border-radius: var(--radius);
}

.contact-container{
  margin: 0 auto;
  margin-top: 2rem;
  width:60vw;
  display: grid;
  place-items: center;
  background: var(--clr-dirty-white);
  border-radius: var(--radius);
}

#contact-form {
  width: 100%;
  height: 100%;
  padding: 1.5rem 2rem;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

input,
textarea {
  font-size: 1rem;
  background: transparent;
  padding: 0.75rem;
  width: 100%;
  border: 1px solid var(--clr-black);
}

#message {
  height: 100px;
}

.submit {
  border: 2px solid var(--clr-primary-5);
  border-radius: var(--radius);
  font-weight: 700;
  transition: var(--transition);
}

.submit:hover {
  background: var(--clr-primary-5);
  color: var(--clr-dirty-white);
}

footer a{
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  color: var(--clr-white);
  font-weight:700;
  letter-spacing: var(--spacing);
  cursor:pointer;
}